<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <h1 class="text-success display-3">Welcome! Let's Travel!</h1>

    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li class="text-danger" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

   <!-- -----------registration------------- table -->
    <form action='/registration' method="POST" class="col-3" style="float:left; ">
        {% csrf_token %}
        <h1>Registration </h1>
        <div class="form-group">
          <label for="firstNameLabel">First Name: </label>
          <input type="text" class="form-control" name="firstNameLabel">
        </div>
        <div class="form-group">
          <label class="lastNameLabel">Last Name: </label>
          <input type="text" class="form-control" name="lastNameLabel">
        </div>
        <div class="form-group">
            <label class="emailLabel">Email: </label>
            <input type="text" class="form-control" name="emailLabel">
        </div>
        <div class="form-group">
            <label class="passwordLabel">Password: </label>
            <input type="password" class="form-control" name="passwordLabel">
        </div>
        <div class="form-group">
            <label class="passwordConfirmLabel">Password Confirmation: </label>
            <input type="password" class="form-control" name="passwordConfirmLabel">
        </div>
        <button type="submit" class="btn btn-success">Register</button>
      </form>

      <!-- ---------login table------------ -->
      <form action='/login' method="POST" class="col-3" style="float:right; margin-right:255px" >
        {% csrf_token %}
        <h1>Login </h1>
        <div class="form-group">
            <label class="emailLabel">Email: </label>
            <input type="text" class="form-control" name="emailLabel">
        </div>
        <div class="form-group">
            <label class="passwordLabel">Password: </label>
            <input type="password" class="form-control" name="passwordLabel">
        </div>
    
        <button type="submit" class="btn btn-success">Log In</button>
      </form>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>